<section class="section">
  <div class="container">
    <div class="one-whole column">
      <h1>
        {{- 'general.404.title' | t -}}
      </h1>

      <p class="quote">
        {{- 'general.404.subtext' | t -}}
      </p>

      <p class="extra_padding center">
        {{- 'general.404.continue_shopping_html' | t: continue_link: routes.all_products_collection_url -}}
      </p>
    </div>

    <div
      class="
        one-half
        column
        medium-down--one-whole
        offset-by-four
        is-hidden-offset-mobile-only
      "
    >
      {%
        render 'search-form',
        context: '404',
      %}
    </div>
  </div>
</section>
