<section class="section">
  <div class="container">
    <div class="one-whole column">
      <h1>{{ page.title }}</h1>
    </div>
  </div>
</section>

{% render 'include-contact-form' %}

{% schema %}
  {
    "name": "Contact form",
    "class": "shopify-section--page-contact-template padding-toggle",
    "settings": [
      {
       "type": "image_picker",
       "id": "contact_image",
       "label": "Image"
      },
      {
        "type": "select",
        "id": "contact_text_position",
        "label": "Form position",
        "default": "row",
        "options": [
          {
            "value": "row-reverse",
            "label": "Left"
          },
          {
            "value": "column",
            "label": "Center"
          },
          {
            "value": "row",
            "label": "Right"
          }
        ]
      },
      {
        "type": "select",
        "id": "contact_text_alignment",
        "label": "Text alignment",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      }
    ]
  }
{% endschema %}
